.DestinationShow-main-container {
   display: flex;
   width: 100%;
}

.DestinationShow-left-container {
   width: 60%;
   text-align: left;
   margin-left: 2rem;
}

.DestinationShow-right-container {
   width: 40%;
   margin-right: 2rem;
}

.DestinationShow-img {
   width: 100%;
}