.Login {
   display: flex;
   flex-direction: column;
   width: 95%;
   margin: 1rem auto;
   border: 1px solid lightgray;
   border-radius: 0.25rem;
}

.Login-header {
   width: 100%;
   height: auto;
   text-align: left;
   align-self: center;
   padding: 0;
   border-bottom: 1px solid darkgray;
   align-items: center;
   background-color: rgba(3, 87, 3, 0.15);
}

.Login-header-h4 {
   margin-left: 1rem;
}

.Login-main-div {
   width: 45%;
   text-align: end;  
}

.Login-main {
   display: flex;
}

.Login-row {
   display: flex;
   margin: 1rem;
}

.Login-inner-span {
   width: 50%;
   margin-right: 1rem;
}

/* button {
   padding: 0.5rem 1rem;
   border-radius: 0.45rem;
   border: 1px solid black;
   font-size: 1.2rem;
   font-weight: 600;
   letter-spacing: 0.15rem;
   margin-bottom: 1rem;
}

button:hover {
   border: 1px solid darkgray;
   background-color: rgba(211, 211, 211, 0.226);
   font-weight: 700;
} */