.BeerNew-main-container {
   margin-top: 32px;
}

.BeerNew-form-container {
   width: 65%;
   border: 1px solid rgba(3, 87, 3, 0.90);
   background-color: rgba(3, 87, 3, 0.05);
   margin: 32px 32px 16px 32px;
   border-radius: 4px;
}

.BeerNew-submit-button {
   margin-left: 16px;
   margin-top: 8px;
}

.BeerNew-div-row {
   display: flex;
}

.BeerNew-select {
   width: 250px;
   height: 39px;
   margin: 8px 0;
   font-size: 1.0rem;
   font-weight: 500;
   background-color: white;
}

.BeerNew-input-short {
   width: 145px;
   margin-left: 16px;
}